

main{
    border-color: #fceb59f6;
    background-color: #fceb59f6;
    border: 1px solid;
padding: 45px 30px;
margin-top: 20px;
margin-right: 20%;
display: block;
    
}

footer{
    background-color: lightgray;
}

.caption{
    background-color: #6a1eb1f6;

}

#wrapper{
    font-size: medium;
margin-left: 15%;
margin-right: auto;
overflow: hidden;
float: center;
}

#content{
    padding:25px;
}

h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 35px;;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
}

p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: black;
    padding-bottom: 15px;
    line-height: 1.5em;
}

.selfimg{
    float: left;
    padding-right: 25px;
    padding-bottom: 15px;
}

.container{
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #fceb59f6;
    margin-bottom: 75px;
    }

    .caption p{
        color:white;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        text-align: center;
        font-size: x-large;
        padding: 1px;
    }

    .thumbnail{
        border: 1px solid black;
    }

